# Database Configuration
PG_URI=postgres://username:password@localhost:5432/oreka_db

# Server Configuration
PORT=4000
NODE_ENV=development

# Token Configuration
TOKEN_DECIMALS=8

# Timezone
TZ=Asia/Ho_Chi_Minh

# CORS
CORS_ORIGIN=http://localhost:3001
